




#gallery {
		width:95;
		height:200px;
		//border:1px dashed #fff;
		margin:0px auto;
		
		
}


#gallery img {
		width:180px;
		height:170;
		border:3px solid #fff;
		margin:8px;
		padding:5px;
		background:#000;
		transition:transform .1s;
		//transform:rotate(30deg);
}


#gallery img:hover{
	cursor:pointer;
	transform:scale(1.3);
	transform:rotate(30deg);
	border:3px dashed #800;
	background:#fff;
}


/*.image_container {
		border:2px solid #fff; width:200px;
		padding:10px;
		display:inline-block;
		margin:20px;
} */


.image_container {
		border:2px dashed #5a0a0a; width:200px;
		padding:10px;
		display:inline-block;
		margin:20px;
}


.image_container:hover{
	border:2px dashed #fff;
	//box-shadow:10px 20px 30px #000;
	box-shadow:10px 20px  30px #260000;
}


.image_container img{
	width:100px;
}